@charset "UFT-8";

@font-face {
    font-family: 'segoe-ui';
    src: url(fonts/Segoe\ UI.ttf) format('ttf');
}

:root {
    --cor0: #5F2C82;
    --cor1: #94CFCD;
    --cor2: #2D6462;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: white;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

body, html {
    background-color: var(--cor0);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

img {
    width: 100%; /* obs: width em 100% permite que a imagem ocupe 100% do seu container */
    height: 180px;
    border-radius: 20px 20px 0px 0px; /* pode-se usar overflow: hidden para esconder tudo o que sair da section */
}

div#formulario {
    position: absolute;
    text-align: center;
}

div#formulario > h1 {
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px;
}

p.texto {
    text-align: justify;
    font-size: 0.8em;
    line-height: 1.1em;
    padding: 10px;
    font-weight: lighter;
}

p._campo {
    margin: 5px 10px 5px 10px;
    background-color: var(--cor0);
    border-radius: 10px;
}

input.fill {
    background-color: var(--cor1);
    border-radius: 10px;
    height: 40px;
    width: 80%;
    transform: translateX(3%);
    margin: 2px 0px;
}

P#bloco3 {
    margin: 5px 10px 5px 10px;
}

p#bloco4 {
    margin: 5px 10px 5px 10px;
}

input.botoes {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
}

input#enter {
    background-color: #52b9b6;
    color: white;
}

input#enter:hover {
    background-color: #2f6d6b;
    cursor: pointer;
}

input#forgot {
    border: 1px solid var(--cor1);
}

input#forgot:hover {
    background-color: var(--cor1);
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width:992px) {
    body {
        background-image: linear-gradient(to bottom, #5D3885, #4C8E98);
    }

    div#imagem, div#formulario {
        display: inline-block; /* posso usar float left and float right nas divs, colocando as widths em porcentagem */
    }

    img {
        width: 250px;
        height: 340px;
        border-radius: 20px 0px 0px 20px;
    }

    section#login {
        width: 90vw;
        height: 340px;
    }

    form {
        width: 100%;
    }

    div#formulario {
        position: absolute;
        min-width: 380px;
    }

    input.fill {
        width: 85%;
        transform: translateX(3.5%);
    }

    input.botoes {
        width: 100%;
    }

}

@media screen and (min-width:992px) {
    body {
        background-image: linear-gradient(to bottom, #5D3885, #4C8E98);
    }

    div#imagem, div#formulario {
        display: inline-block;
    }

    img {
        width: 450px;
        height: 390px;
        border-radius: 0px 20px 20px 0px;
        transform: translateX(111%);
    }

    section#login {
        width: 950px;
        height: 390px;
    }

    form {
        width: 100%;
    }

    div#formulario {
        position: absolute;
        min-width: 380px;
        transform: translateX(-90%);
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    p.texto {
        font-size: 1.2em;
        margin-bottom: 15px;
    }

    input.fill {
        width: 85%;
        transform: translateX(3.5%);
    }

    input.botoes {
        width: 100%;
    }

    p#bloco3 {
        margin-top: 25px;
    }
    
}










